<!DOCTYPE html>
<html>
<head>
  <title>Live Transcription with Twilio Media Streams</title>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>

  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
</head>
<body>
  <h1>Live Transcription with Twilio Media Streams</h1>
  <img src="static/css/twilio-logo-red.png" />
  <img src="static/css/cloudspeechtotext.png" />

<div class="container" id="content">
    <div class="row">
        <p>Asynchronous page updates will appear here:</p>
        <h3>Transcription:</h3>
        <div id="log">
	      </div> <!-- /#log -->
    </div>
</div>
</body>
</html>
